root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.php]
indent_size = 4
ij_php_class_brace_style = next_line
ij_php_method_brace_style = next_line

[*.md]
trim_trailing_whitespace = false
